Repository dotnet/core-setup, pull requests merged in 2018-09, with the labels that each got.

#4540 Port sdk resolver changes for VS 15.9 to 2.1
  src/corehost/cli/fxr/CMakeLists.txt
  src/corehost/cli/fxr/fx_muxer.cpp
  src/corehost/cli/fxr/fx_muxer.h
  src/corehost/cli/fxr/hostfxr.cpp
  src/corehost/cli/fxr/sdk_info.cpp
  src/corehost/cli/fxr/sdk_info.h
  src/corehost/cli/fxr/sdk_resolver.cpp
  src/corehost/cli/fxr/sdk_resolver.h
  src/corehost/error_codes.h
  src/test/Assets/TestProjects/HostApiInvokerApp/HostApiInvokerApp.csproj
  src/test/Assets/TestProjects/HostApiInvokerApp/Program.cs
  src/test/HostActivationTests/GivenThatICareAboutNativeHostApis.cs
Labels: servicing-approved

#4521 Always compare TPA versions (#4423)
  src/corehost/cli/deps_resolver.cpp
  src/corehost/cli/fx_definition.cpp
  src/corehost/cli/fx_definition.h
  src/test/HostActivationTests/GivenThatICareAboutLightupAppActivation.cs
  src/test/HostActivationTests/GivenThatICareAboutMultilevelSharedFxLookup.DepsVersion.cs
  src/test/HostActivationTests/GivenThatICareAboutMultilevelSharedFxLookup.cs
Labels: servicing-approved

#4557 Add additional TPA version tests
  src/test/HostActivationTests/GivenThatICareAboutMultilevelSharedFxLookup.DepsVersion.cs
  src/test/HostActivationTests/GivenThatICareAboutMultilevelSharedFxLookup.cs
Labels: test enhancement

#4538 Add graph support for multiple shared frameworks
  src/corehost/cli/deps_resolver.cpp
  src/corehost/cli/fx_definition.cpp
  src/corehost/cli/fx_definition.h
  src/corehost/cli/fx_reference.cpp
  src/corehost/cli/fx_reference.h
  src/corehost/cli/fxr/CMakeLists.txt
  src/corehost/cli/fxr/framework_info.cpp
  src/corehost/cli/fxr/framework_info.h
  src/corehost/cli/fxr/fx_muxer.cpp
  src/corehost/cli/fxr/fx_muxer.h
  src/corehost/cli/fxr/fx_muxer.messages.cpp
  src/corehost/cli/fxr/fx_ver.cpp
  src/corehost/cli/fxr/fx_ver.h
  src/corehost/cli/fxr/sdk_info.cpp
  src/corehost/cli/fxr/sdk_resolver.cpp
  src/corehost/cli/hostpolicy/CMakeLists.txt
  src/corehost/cli/libhost.cpp
  src/corehost/cli/roll_fwd_on_no_candidate_fx_option.h
  src/corehost/cli/runtime_config.cpp
  src/corehost/cli/runtime_config.h
  src/corehost/corehost.cpp
  src/corehost/error_codes.h
  src/test/HostActivationTests/GivenThatICareAboutLightupAppActivation.cs
  src/test/HostActivationTests/GivenThatICareAboutMultilevelSharedFxLookup.DepsVersion.cs
  src/test/HostActivationTests/GivenThatICareAboutMultilevelSharedFxLookup.cs
  src/test/HostActivationTests/SharedFramework.cs
Labels: area-Host, enhancement

#4476 Add hosting for COM activation design proposal
  Documentation/design-docs/COM-activation.md
Labels: area-Host, os-windows

#4592 Add separate document describing host probing logic
  Documentation/design-docs/DotNetCore-SharedPackageStore.md
  Documentation/design-docs/host-probing.md
  src/corehost/cli/deps_resolver.cpp
Labels: area-Host, documentation
