Repository dotnet/core-setup, pull requests merged in 2018-06, with the labels that each got.

#4184 Stop building old style linux installers and rename new style packages
  buildpipeline/Core-Setup-Linux-BT.json
  dir.props
  src/pkg/packaging/deb/package.props
  src/pkg/packaging/rpm/package.props
Labels: area-Setup

#4203 Enable Alpine ARM/ARM64 cross build
  cross/android/arm/toolchain.cmake
  cross/android/arm/tryrun.cmake
  cross/android/arm64/toolchain.cmake
  cross/android/arm64/tryrun.cmake
  cross/arm/sources.list.zesty
  cross/arm64/sources.list.zesty
  cross/arm64/toolchain.cmake
  cross/armel/tizen-fetch.sh
  cross/armel/tizen/tizen-dotnet.ks
  cross/armel/toolchain.cmake
  cross/build-android-rootfs.sh
  cross/build-rootfs.sh
  cross/toolchain.cmake
  cross/tryrun.cmake
  src/corehost/build.sh
Labels: area-Host

#4240 Remove c++ compiler warnings
  src/corehost/cli/dll/CMakeLists.txt
  src/corehost/cli/exe/apphost/CMakeLists.txt
  src/corehost/cli/exe/dotnet/CMakeLists.txt
  src/corehost/cli/exe/exe.cmake
  src/corehost/cli/fxr/CMakeLists.txt
  src/corehost/cli/runtime_config.cpp
  src/corehost/common/utils.cpp
  src/test/HostActivationTests/GivenThatICareAboutDotnetArgValidationScenarios.cs
Labels: area-Host

#4166 Mark DependencyModel stable for shipping in 1.1.9.
  src/Microsoft.DotNet.PlatformAbstractions/project.json
  src/Microsoft.Extensions.DependencyModel/project.json
Labels: * NO MERGE *, Servicing-Approved-1.1.9

#4267 Mark more packages as stable for 1.1.9
  build_projects/dotnet-host-build/project.json
  build_projects/update-dependencies/project.json
  tools/independent/RuntimeGraphGenerator/project.json
Labels: * NO MERGE *

#4274 Fix test output from from FAIL to OK for tests expected to fail
  src/test/HostActivationTests/GivenThatICareAboutDotnetArgValidationScenarios.cs
  src/test/HostActivationTests/GivenThatICareAboutLightupAppActivation.cs
  src/test/HostActivationTests/GivenThatICareAboutMultilevelSDKLookup.cs
  src/test/HostActivationTests/GivenThatICareAboutMultilevelSharedFxLookup.cs
  src/test/HostActivationTests/GivenThatICareAboutPortableAppActivation.cs
Labels: area-Host

#4238 Add host versioning tests
  src/test/Assets/TestProjects/StandaloneApp20/Program.cs
  src/test/Assets/TestProjects/StandaloneApp20/StandaloneApp20.csproj
  src/test/Assets/TestProjects/StandaloneApp21/Program.cs
  src/test/Assets/TestProjects/StandaloneApp21/StandaloneApp21.csproj
  src/test/HostActivationTests/GivenThatICareAboutHostVersionCompatibility.cs
  src/test/HostActivationTests/GivenThatICareAboutStandaloneAppActivation.cs
  src/test/TestUtils/RepoDirectoriesProvider.cs
  src/test/TestUtils/TestProject.cs
  src/test/TestUtils/TestProjectFixture.cs
Labels: area-Host

#4297 Clean up disk space after test runs
  src/test/HostActivationTests/GivenThatICareAboutDotnetArgValidationScenarios.cs
  src/test/HostActivationTests/GivenThatICareAboutDotnetTestXunitScenarios.cs
  src/test/HostActivationTests/GivenThatICareAboutHostVersionCompatibility.cs
  src/test/HostActivationTests/GivenThatICareAboutLightupAppActivation.cs
  src/test/HostActivationTests/GivenThatICareAboutMultilevelSDKLookup.cs
  src/test/HostActivationTests/GivenThatICareAboutMultilevelSharedFxLookup.cs
  src/test/HostActivationTests/GivenThatICareAboutNativeHostApis.cs
  src/test/HostActivationTests/GivenThatICareAboutPortableAppActivation.cs
  src/test/HostActivationTests/GivenThatICareAboutResourceLookup.cs
  src/test/HostActivationTests/GivenThatICareAboutStandaloneAppActivation.cs
  src/test/HostActivationTests/SharedFramework.cs
  src/test/TestUtils/TestProject.cs
  src/test/TestUtils/TestProjectFixture.cs
Labels: test enhancement

#4265 Fix Runtime deps dependency for Sles 12
  src/pkg/packaging/rpm/dotnet-runtime-deps-rpm_config_sles.12-x64.json
Labels: area-Setup

#4266 Fix RuntimeDeps dependency for SLES 12 (master)
  src/pkg/packaging/rpm/dotnet-runtime-deps-rpm_config_sles.12-x64.json
Labels: area-Setup
