Repository dotnet/core-setup, pull requests merged in 2018-04, with the labels that each got.

#3966 Update DEB and RPM Package Dependencies (release/2.1)
  src/pkg/packaging/deb/dotnet-runtime-deps-debian_config_debian.8-x64.json
  src/pkg/packaging/deb/dotnet-runtime-deps-debian_config_debian.9-x64.json
  src/pkg/packaging/deb/dotnet-runtime-deps-debian_config_linuxmint.7-x64.json
  src/pkg/packaging/deb/dotnet-runtime-deps-debian_config_linuxmint.8-x64.json
  src/pkg/packaging/deb/dotnet-runtime-deps-debian_config_ubuntu.14.04-x64.json
  src/pkg/packaging/deb/dotnet-runtime-deps-debian_config_ubuntu.16.04-x64.json
  src/pkg/packaging/deb/dotnet-runtime-deps-debian_config_ubuntu.17.10-x64.json
  src/pkg/packaging/deb/dotnet-runtime-deps-debian_config_ubuntu.18.04-x64.json
  src/pkg/packaging/rpm/dotnet-runtime-deps-rpm_config_centos.7-x64.json
  src/pkg/packaging/rpm/dotnet-runtime-deps-rpm_config_fedora.26-x64.json
  src/pkg/packaging/rpm/dotnet-runtime-deps-rpm_config_fedora.27-x64.json
  src/pkg/packaging/rpm/dotnet-runtime-deps-rpm_config_opensuse.42-x64.json
  src/pkg/packaging/rpm/dotnet-runtime-deps-rpm_config_oraclelinux.7-x64.json
  src/pkg/packaging/rpm/dotnet-runtime-deps-rpm_config_rhel.7-x64.json
  src/pkg/packaging/rpm/dotnet-runtime-deps-rpm_config_sles.12-x64.json
Labels: area-Setup

#3978 Linux Mint package installers have incorrect version number
  buildpipeline/Core-Setup-Linux-BT.json
  publish/dir.props
  src/pkg/packaging/deb/dotnet-runtime-deps-debian_config_linuxmint.17-x64.json
  src/pkg/packaging/deb/dotnet-runtime-deps-debian_config_linuxmint.18-x64.json
Labels: area-Setup

#3979 Fix Linux Mint installer package name with correct version ( release/2.1)
  buildpipeline/Core-Setup-Linux-BT.json
  publish/dir.props
  src/pkg/packaging/deb/dotnet-runtime-deps-debian_config_linuxmint.17-x64.json
  src/pkg/packaging/deb/dotnet-runtime-deps-debian_config_linuxmint.18-x64.json
Labels: Post-ZBB, area-Setup

#3981 Stop building Linux Mint packages
  buildpipeline/Core-Setup-Linux-BT.json
  publish/dir.props
  src/pkg/packaging/deb/dotnet-runtime-deps-debian_config_linuxmint.17-x64.json
  src/pkg/packaging/deb/dotnet-runtime-deps-debian_config_linuxmint.18-x64.json
Labels: Post-ZBB, area-Setup

#3928 Enable building runtime installers for Debian.9 and OpenSuse.42 for 2.0.x product.
  buildpipeline/Core-Setup-Linux-BT.json
  dir.props
  publish/dir.props
  src/pkg/packaging/deb/dotnet-sharedframework-debian.9_config.json
  src/pkg/packaging/deb/package.targets
  src/pkg/packaging/rpm/dotnet-sharedframework-opensuse.42_config.json
  src/pkg/packaging/rpm/package.targets
Labels: area-Setup

#3996 Disable Tizen from CI
  netci.groovy
Labels: arch-arm32, area-Infrastructure

#4020 Enable building upgradeable linux packages with updated runtime-deps dependency moved from host to runtime package
  buildpipeline/Core-Setup-Linux-BT.json
  dir.props
  src/pkg/packaging/deb/dotnet-hostfxr-debian_config.json
  src/pkg/packaging/deb/dotnet-runtime-deps-debian_config_debian.8-x64.json
  src/pkg/packaging/deb/dotnet-runtime-deps-debian_config_debian.9-x64.json
  src/pkg/packaging/deb/dotnet-runtime-deps-debian_config_ubuntu.14.04-x64.json
  src/pkg/packaging/deb/dotnet-runtime-deps-debian_config_ubuntu.16.04-x64.json
  src/pkg/packaging/deb/dotnet-runtime-deps-debian_config_ubuntu.17.10-x64.json
  src/pkg/packaging/deb/dotnet-runtime-deps-debian_config_ubuntu.18.04-x64.json
  src/pkg/packaging/deb/dotnet-sharedframework-debian_config.json
  src/pkg/packaging/deb/dotnet-sharedhost-debian_config.json
  src/pkg/packaging/deb/package.props
  src/pkg/packaging/deb/package.targets
  src/pkg/packaging/rpm/dotnet-hostfxr-rpm_config.json
  src/pkg/packaging/rpm/dotnet-runtime-deps-rpm_config_centos.7-x64.json
  src/pkg/packaging/rpm/dotnet-runtime-deps-rpm_config_fedora.26-x64.json
  src/pkg/packaging/rpm/dotnet-runtime-deps-rpm_config_fedora.27-x64.json
  src/pkg/packaging/rpm/dotnet-runtime-deps-rpm_config_opensuse.42-x64.json
  src/pkg/packaging/rpm/dotnet-runtime-deps-rpm_config_oraclelinux.7-x64.json
  src/pkg/packaging/rpm/dotnet-runtime-deps-rpm_config_rhel.7-x64.json
  src/pkg/packaging/rpm/dotnet-runtime-deps-rpm_config_sles.12-x64.json
  src/pkg/packaging/rpm/dotnet-sharedframework-rpm_config.json
  src/pkg/packaging/rpm/dotnet-sharedhost-rpm_config.json
  src/pkg/packaging/rpm/package.props
  src/pkg/packaging/rpm/package.targets
Labels: area-Setup

#4043 [1.1] Update distro support
  TestAssets/TestProjects/StandaloneApp/project.json
  TestAssets/TestProjects/StandaloneTestApp/project.json
  build_projects/Microsoft.DotNet.Cli.Build.Framework/project.json
  build_projects/dotnet-host-build/CompileTargets.cs
  build_projects/dotnet-host-build/PackageTargets.cs
  build_projects/dotnet-host-build/PublishTargets.cs
  build_projects/dotnet-host-build/TestTargets.cs
  build_projects/dotnet-host-build/build.sh
  build_projects/dotnet-host-build/project.json
  build_projects/shared-build-targets-utils/DependencyVersions.cs
  build_projects/shared-build-targets-utils/Utils/HostVersion.cs
  build_projects/shared-build-targets-utils/Utils/Monikers.cs
  build_projects/shared-build-targets-utils/Utils/SharedFrameworkPublisher.cs
  build_projects/shared-build-targets-utils/project.json
  build_projects/update-dependencies/project.json
  buildpipeline/Core-Setup-Debian9-x64.json
  buildpipeline/Core-Setup-Fedora27-x64.json
  buildpipeline/Core-Setup-Fedora28-x64.json
  buildpipeline/Core-Setup-OpenSuse42.3-x64.json
  buildpipeline/Core-Setup-Ubuntu18.04-x64.json
  buildpipeline/pipeline.json
  pkg/deps/project.json
  pkg/dir.props
  pkg/init-tools.sh
  pkg/projects/Microsoft.NETCore.App/project.json
  pkg/projects/Microsoft.NETCore.DotNetHost/Microsoft.NETCore.DotNetHost.builds
  pkg/projects/Microsoft.NETCore.DotNetHost/Microsoft.NETCore.DotNetHost.pkgproj
  pkg/projects/Microsoft.NETCore.DotNetHost/Microsoft.NETCore.DotNetHostPolicy.builds
  pkg/projects/Microsoft.NETCore.DotNetHost/Microsoft.NETCore.DotNetHostPolicy.pkgproj
  pkg/projects/Microsoft.NETCore.DotNetHost/Microsoft.NETCore.DotNetHostResolver.builds
  pkg/projects/Microsoft.NETCore.DotNetHost/Microsoft.NETCore.DotNetHostResolver.pkgproj
  pkg/projects/Microsoft.NETCore.DotNetHost/debian.9/Microsoft.NETCore.DotNetHost.pkgproj
  pkg/projects/Microsoft.NETCore.DotNetHost/debian.9/Microsoft.NETCore.DotNetHostPolicy.pkgproj
  pkg/projects/Microsoft.NETCore.DotNetHost/debian.9/Microsoft.NETCore.DotNetHostResolver.pkgproj
  pkg/projects/Microsoft.NETCore.DotNetHost/fedora.27/Microsoft.NETCore.DotNetHost.pkgproj
  pkg/projects/Microsoft.NETCore.DotNetHost/fedora.27/Microsoft.NETCore.DotNetHostPolicy.pkgproj
  pkg/projects/Microsoft.NETCore.DotNetHost/fedora.27/Microsoft.NETCore.DotNetHostResolver.pkgproj
  pkg/projects/Microsoft.NETCore.DotNetHost/fedora.28/Microsoft.NETCore.DotNetHost.pkgproj
  pkg/projects/Microsoft.NETCore.DotNetHost/fedora.28/Microsoft.NETCore.DotNetHostPolicy.pkgproj
  pkg/projects/Microsoft.NETCore.DotNetHost/fedora.28/Microsoft.NETCore.DotNetHostResolver.pkgproj
  pkg/projects/Microsoft.NETCore.DotNetHost/opensuse.42.3/Microsoft.NETCore.DotNetHost.pkgproj
  pkg/projects/Microsoft.NETCore.DotNetHost/opensuse.42.3/Microsoft.NETCore.DotNetHostPolicy.pkgproj
  pkg/projects/Microsoft.NETCore.DotNetHost/opensuse.42.3/Microsoft.NETCore.DotNetHostResolver.pkgproj
  pkg/projects/Microsoft.NETCore.DotNetHost/ubuntu.18.04/Microsoft.NETCore.DotNetHost.pkgproj
  pkg/projects/Microsoft.NETCore.DotNetHost/ubuntu.18.04/Microsoft.NETCore.DotNetHostPolicy.pkgproj
  pkg/projects/Microsoft.NETCore.DotNetHost/ubuntu.18.04/Microsoft.NETCore.DotNetHostResolver.pkgproj
  pkg/projects/Microsoft.NETCore/project.json
  scripts/docker/debian.9/Dockerfile
  scripts/docker/fedora.27/Dockerfile
  scripts/docker/fedora.28/Dockerfile
  scripts/docker/opensuse.42.3/Dockerfile
  scripts/docker/ubuntu.18.04/Dockerfile
  tools/independent/RuntimeGraphGenerator/project.json
Labels: area-Setup, enhancement, os-linux
