Repository dotnet/core-setup, pull requests merged in 2019-02, with the labels that each got.

#5097 Remove code duplication when enumerating framework locations
  src/corehost/cli/fxr/framework_info.cpp
  src/corehost/cli/fxr/fx_muxer.cpp
  src/corehost/cli/fxr/sdk_info.cpp
  src/corehost/cli/fxr/sdk_resolver.cpp
  src/corehost/common/utils.cpp
  src/corehost/common/utils.h
Labels: area-Host

#5091 Updating the Runtime bundle's purple color to .Net core's latest branding
  src/pkg/packaging/osx/hostfxr/resources/dotnetbackground.png
  src/pkg/packaging/osx/sharedframework/resources/dotnetbackground.png
  src/pkg/packaging/windows/sharedframework/bundle.thm
Labels: area-Setup

#5145 Add COM host to the AppHost package (Windows only)
  src/pkg/projects/Microsoft.NETCore.DotNetAppHost/runtime.Windows_NT.Microsoft.NETCore.DotNetAppHost.props
Labels: area-Setup, os-windows, packaging

#5142 Simplify computation of oldest framework reference
  src/corehost/cli/fxr/fx_muxer.cpp
  src/corehost/cli/fxr/fx_muxer.h
Labels: area-Host

#5152 Update the host-component document
  Documentation/design-docs/host-components.md
Labels: area-Host, documentation

#5156 Clean up
  Documentation/design-docs/corehost.md
Labels: area-Host, documentation

#5170 [release/2.1] Set createLogFile to false for msbuild steps, fix official build
  buildpipeline/Core-Setup-Windows-Arm-BT.json
  buildpipeline/Core-Setup-Windows-BT.json
Labels: area-Infrastructure

#5228 Cleanup native build
  src/corehost/build.cmd
  src/corehost/build.proj
  src/corehost/cli/apphost/CMakeLists.txt
  src/corehost/cli/comhost/CMakeLists.txt
  src/corehost/cli/common.cmake
  src/corehost/cli/dotnet/CMakeLists.txt
  src/corehost/cli/exe.cmake
  src/corehost/cli/fxr/CMakeLists.txt
  src/corehost/cli/hostpolicy/CMakeLists.txt
  src/corehost/cli/lib.cmake
Labels: area-Host

#5275 Remove atomic usage for preview 3
  src/corehost/cli/coreclr.cpp
  src/corehost/cli/coreclr.h
Labels: arch-arm32, area-Host, blocking-release, os-linux

#5270 Improve missing framework error message
  src/corehost/cli/fxr/fx_muxer.cpp
  src/test/HostActivationTests/GivenThatICareAboutSharedFxLookup.cs
Labels: area-Host
