Repository dotnet/core-setup, pull requests merged in 2019-06, with the labels that each got.

#6580 Fix pre-release regression table to match the new behavior
  Documentation/design-docs/framework-version-resolution.md
Labels: area-Host, documentation

#6630 Update nethost.h
  src/corehost/cli/nethost/nethost.h
Labels: area-Host

#6638 Update installer localization
  src/pkg/packaging/windows/sharedframework/theme/1036/bundle.wxl
  src/pkg/packaging/windows/sharedframework/theme/1041/bundle.wxl
  src/pkg/packaging/windows/sharedframework/theme/1055/bundle.wxl
  src/pkg/packaging/windows/sharedframework/theme/2052/bundle.wxl
Labels: area-Setup

#6614 [release/2.1] Remove item metadata attributes for MSBuild 14
  src/pkg/packaging/deb/package.targets
Labels: area-Setup

#6615 [release/2.2] Remove item metadata attributes for MSBuild 14
  src/pkg/packaging/deb/package.targets
Labels: area-Setup

#6664 Add roll forward LatestPatch to WindowsDesktop
  src/pkg/packaging-tools/sharedFramework/sharedFramework.csproj
Labels: area-Setup

#6658 Fix a bug in propagation of roll to highest version with LatestPatch
  src/corehost/cli/fxr/fx_resolver.cpp
  src/test/HostActivationTests/FrameworkResolution/RollForwardMultipleFrameworks.cs
Labels: area-Host

#6641 Specify calling convention for hostfxr/hostpolicy exports
  src/corehost/cli/comhost/comhost.cpp
  src/corehost/cli/coreclr_delegates.h
  src/corehost/cli/corehost_context_contract.h
  src/corehost/cli/fxr/CMakeLists.txt
  src/corehost/cli/fxr/fx_muxer.cpp
  src/corehost/cli/fxr/hostfxr.cpp
  src/corehost/cli/fxr/hostpolicy_resolver.h
  src/corehost/cli/hostfxr.h
  src/corehost/cli/hostpolicy.h
  src/corehost/cli/hostpolicy/CMakeLists.txt
  src/corehost/cli/hostpolicy/hostpolicy.cpp
  src/corehost/cli/ijwhost/ijwhost.cpp
  src/corehost/cli/test/mockhostpolicy/mockhostpolicy.cpp
  src/corehost/cli/test/nativehost/host_context_test.cpp
  src/corehost/cli/winrthost/winrthost.cpp
Labels: area-Host

#6545 Add a document describing all used error and exit codes in hosting layer
  Documentation/design-docs/host-error-codes.md
  src/corehost/error_codes.h
Labels: area-Host

#6680 Update native hosting doc with component loading specifics
  Documentation/design-docs/native-hosting.md
Labels: area-Host, documentation

#6698 Require 1:1 WindowsDesktop Profile classification
  src/pkg/projects/windowsdesktop/pkg/dir.props
  tools-local/tasks/CreateFrameworkListFile.cs
Labels: area-Setup

#6707 Dependency resolution tests for hostpolicy
  src/test/HostActivationTests/CommandExtensions.cs
  src/test/HostActivationTests/Constants.cs
  src/test/HostActivationTests/DependencyResolution/DependencyResolutionBase.cs
  src/test/HostActivationTests/DependencyResolution/DependencyResolutionCommandResultExtensions.cs
  src/test/HostActivationTests/DependencyResolution/PortableAppRidAssetResolution.cs
  src/test/HostActivationTests/DotNetBuilder.cs
  src/test/HostActivationTests/NetCoreAppBuilder.cs
  src/test/TestUtils/Assertions/CommandResultAssertions.cs
  src/test/TestUtils/FileUtils.cs
Labels: area-Host, test enhancement

#6724 Change RID fallback to happen per asset type
  src/corehost/cli/deps_format.cpp
  src/corehost/cli/deps_format.h
  src/test/HostActivationTests/DependencyResolution/DependencyResolutionCommandResultExtensions.cs
  src/test/HostActivationTests/DependencyResolution/PortableAppRidAssetResolution.cs
Labels: area-Host

#6760 Improvements to the component dependency resolution tests
  src/test/Assets/TestProjects/ComponentWithDependencies/Component.cs
  src/test/Assets/TestProjects/ComponentWithDependencies/ComponentDependency/ComponentDependency.csproj
  src/test/Assets/TestProjects/ComponentWithDependencies/ComponentDependency/Dependency.cs
  src/test/Assets/TestProjects/ComponentWithDependencies/ComponentWithDependencies.csproj
  src/test/Assets/TestProjects/ComponentWithResources/Component.cs
  src/test/Assets/TestProjects/ComponentWithResources/ComponentWithResources.csproj
  src/test/Assets/TestProjects/ComponentWithResources/Resource.en.resx
  src/test/Assets/TestProjects/ComponentWithResources/Resource.resx
  src/test/HostActivationTests/ComponentDependencyResolution.cs
  src/test/HostActivationTests/DependencyResolution/DependencyResolutionBase.cs
  src/test/HostActivationTests/DependencyResolution/PortableAppRidAssetResolution.cs
  src/test/HostActivationTests/DependencyResolution/ResolveComponentDependencies.cs
  src/test/HostActivationTests/NetCoreAppBuilder.cs
  src/test/TestUtils/FileUtils.cs
  src/test/TestUtils/TestApp.cs
  src/test/TestUtils/TestArtifact.cs
Labels: area-Host, test enhancement

#6754 Add the error_codes.h to all CMAKE projects
  src/corehost/cli/common.cmake
Labels: area-Host

#6823 Change GUI apphost tests to not rely on window searches
  src/corehost/corehost.cpp
  src/test/HostActivationTests/CommandExtensions.cs
  src/test/HostActivationTests/StandaloneAppActivation.cs
  src/test/TestUtils/Assertions/CommandResultAssertions.cs
  src/test/TestUtils/FileUtils.cs
Labels: area-Host

#6766 Revise breadcrumb_writer_t ownership
  src/corehost/cli/hostpolicy/breadcrumbs.cpp
  src/corehost/cli/hostpolicy/breadcrumbs.h
  src/corehost/cli/hostpolicy/hostpolicy.cpp
  src/corehost/cli/hostpolicy/hostpolicy_context.h
  src/test/HostActivationTests/NativeHostApis.cs
Labels: area-Host

#6850 Store the full metadata token in the bootstrap thunk on x86.
  src/corehost/cli/ijwhost/i386/bootstrap_thunk.cpp
  src/corehost/cli/ijwhost/i386/bootstrap_thunk.h
Labels: area-Host, blocking-partner

#6866 Fix infinite loop in traversing thunk chunks when checking if thunks are installed.
  src/corehost/cli/ijwhost/bootstrap_thunk_chunk.cpp
  src/corehost/cli/ijwhost/ijwthunk.cpp
Labels: area-Host, blocking-partner

#6879 Fix Alpine rootfs build
  cross/build-rootfs.sh
Labels: area-Infrastructure

#6921 Log trace errors to Windows Event Log
  src/corehost/cli/apphost/CMakeLists.txt
  src/corehost/corehost.cpp
  src/test/HostActivationTests/StandaloneAppActivation.cs
Labels: area-Host

#6923 Only log to event log when we host wrote an error message
  src/corehost/corehost.cpp
Labels: area-Host, os-windows

#6936 Remove 1.0 & 1.1 from Readme for EOL
  README.md
  build.proj
Labels: area-Setup
