Repository dotnet/core-setup, pull requests merged in 2019-05, with the labels that each got.

#5859 Add host context-based entry points for native hosting
  Documentation/design-docs/COM-activation.md
  Documentation/design-docs/hosting-layer-apis.md
  src/corehost/cli/comhost/comhost.cpp
  src/corehost/cli/corehost_context_contract.h
  src/corehost/cli/fxr/CMakeLists.txt
  src/corehost/cli/fxr/corehost_init.cpp
  src/corehost/cli/fxr/fx_muxer.cpp
  src/corehost/cli/fxr/fx_muxer.h
  src/corehost/cli/fxr/host_context.cpp
  src/corehost/cli/fxr/host_context.h
  src/corehost/cli/fxr/hostfxr.cpp
  src/corehost/cli/fxr/hostpolicy_resolver.cpp
  src/corehost/cli/fxr/hostpolicy_resolver.h
  src/corehost/cli/fxr_resolver.cpp
  src/corehost/cli/fxr_resolver.h
  src/corehost/cli/hostfxr.h
  src/corehost/cli/hostpolicy/CMakeLists.txt
  src/corehost/cli/hostpolicy/args.cpp
  src/corehost/cli/hostpolicy/coreclr.cpp
  src/corehost/cli/hostpolicy/coreclr.h
  src/corehost/cli/hostpolicy/hostpolicy.cpp
  src/corehost/cli/hostpolicy/hostpolicy_context.cpp
  src/corehost/cli/hostpolicy/hostpolicy_context.h
  src/corehost/cli/ijwhost/ijwhost.cpp
  src/corehost/cli/test/mockcoreclr/mockcoreclr.cpp
  src/corehost/cli/test/nativehost/CMakeLists.txt
  src/corehost/cli/test/nativehost/host_context_test.cpp
  src/corehost/cli/test/nativehost/host_context_test.h
  src/corehost/cli/test/nativehost/nativehost.cpp
  src/corehost/cli/winrthost/winrthost.cpp
  src/corehost/common/pal.unix.cpp
  src/corehost/common/utils.cpp
  src/corehost/common/utils.h
  src/corehost/error_codes.h
  src/test/HostActivationTests/NativeHosting/HostContext.cs
  src/test/HostActivationTests/NativeHosting/HostContextResultExtensions.cs
  src/test/HostActivationTests/NativeHosting/Nethost.cs
  src/test/HostActivationTests/NativeHosting/SharedTestStateBase.cs
  src/test/TestUtils/Assertions/CommandResultAssertions.cs
Labels: area-Host

#6254 Avoid searching for a local hostfxr in component hosts
  src/corehost/cli/fxr_resolver.cpp
  src/corehost/cli/fxr_resolver.h
  src/test/HostActivationTests/NativeHosting/Comhost.cs
Labels: area-Host

#6276 Remove distro/version from deps Deb package name
  dir.props
Labels: area-Setup

#6124 Add global registered install location to Linux and macOS
  src/corehost/cli/test/nativehost/nativehost.cpp
  src/corehost/common/pal.h
  src/corehost/common/pal.unix.cpp
  src/corehost/common/pal.windows.cpp
  src/test/HostActivationTests/Constants.cs
  src/test/HostActivationTests/MultilevelSDKLookup.cs
  src/test/HostActivationTests/NativeHosting/Nethost.cs
  src/test/HostActivationTests/PortableAppActivation.cs
  src/test/HostActivationTests/RegisteredInstallKeyOverride.cs
  src/test/HostActivationTests/RegisteredInstallLocationOverride.cs
  src/test/TestUtils/Command.cs
Labels: area-Host

#6253 Native hosting: validate frameworks and properties when initializing secondary context
  src/corehost/cli/fxr/corehost_init.cpp
  src/corehost/cli/fxr/corehost_init.h
  src/corehost/cli/fxr/fx_muxer.cpp
  src/corehost/cli/fxr/fx_resolver.cpp
  src/corehost/cli/fxr/fx_resolver.h
  src/corehost/cli/fxr/fx_resolver.messages.cpp
  src/corehost/cli/fxr/host_context.cpp
  src/corehost/cli/fxr/host_context.h
  src/corehost/cli/fxr/hostfxr.cpp
  src/corehost/cli/fxr_resolver.h
  src/corehost/cli/hostpolicy/hostpolicy.cpp
  src/corehost/cli/test/mockcoreclr/mockcoreclr.cpp
  src/corehost/cli/test/nativehost/host_context_test.cpp
  src/corehost/cli/test/nativehost/host_context_test.h
  src/corehost/cli/test/nativehost/nativehost.cpp
  src/corehost/error_codes.h
  src/test/HostActivationTests/Constants.cs
  src/test/HostActivationTests/NativeHosting/HostContext.PropertyCompatibilityTestData.cs
  src/test/HostActivationTests/NativeHosting/HostContext.cs
  src/test/HostActivationTests/NativeHosting/HostContextResultExtensions.cs
Labels: area-Host

#6325 Add ability to disable GUI host errors
  src/corehost/corehost.cpp
  src/test/HostActivationTests/Constants.cs
  src/test/HostActivationTests/StandaloneAppActivation.cs
  src/test/TestUtils/Command.cs
Labels: area-Host

#6363 Temporary fix for failing GUI test in CI.
  src/test/HostActivationTests/StandaloneAppActivation.cs
Labels: area-Host, test bug

#6366 Add support for call to Register/Unregister COM delegate
  src/corehost/cli/comhost/comhost.cpp
  src/corehost/cli/corehost_context_contract.h
  src/corehost/cli/fxr/hostfxr.cpp
  src/corehost/cli/hostfxr.h
  src/corehost/cli/hostpolicy/hostpolicy.cpp
Labels: area-Host, enhancement

#6379 [release/3.0] Revert "Skip System.Windows.Forms crossgen"
  src/pkg/packaging-tools/framework.dependency.targets
Labels: area-Setup

#6281 Test-only product behavior support
  src/corehost/common/pal.unix.cpp
  src/corehost/common/pal.windows.cpp
  src/corehost/common/utils.cpp
  src/corehost/common/utils.h
  src/test/HostActivationTests/FrameworkResolution/DotNetCliExtensions.cs
  src/test/HostActivationTests/FrameworkResolution/MultipleHives.cs
  src/test/HostActivationTests/MultilevelSDKLookup.cs
  src/test/HostActivationTests/MultilevelSharedFxLookup.cs
  src/test/HostActivationTests/NativeHostApis.cs
  src/test/HostActivationTests/NativeHosting/Nethost.cs
  src/test/HostActivationTests/NativeHosting/SharedTestStateBase.cs
  src/test/HostActivationTests/PortableAppActivation.cs
  src/test/HostActivationTests/RegisteredInstallLocationOverride.cs
  src/test/HostActivationTests/StandaloneAppActivation.cs
  src/test/HostActivationTests/TestOnlyProductBehavior.cs
  src/test/TestUtils/AppHostExtensions.cs
  src/test/TestUtils/DotNetCli.cs
  src/test/TestUtils/FileUtils.cs
  src/test/TestUtils/TestFileBackup.cs
Labels: area-Host

#6360 Update readme: consolidated runtime-deps Debian package
  README.md
Labels: area-Setup

#6274 [release/2.1] Move to Azure DevOps for PRs
  azure-pipelines.yml
Labels: * NO MERGE *

#6512 Revert "[master] Update dependencies from dnceng/internal/dotnet-wpf-int"
  eng/Version.Details.xml
  eng/Versions.props
Labels: area-Infrastructure, bug

#6247 [release/2.2] Generalize runtime deps Deb/RPM packages
  buildpipeline/Core-Setup-Linux-BT.json
  publish/dir.props
  src/pkg/packaging/deb/dotnet-runtime-deps-debian_config.json
  src/pkg/packaging/deb/dotnet-runtime-deps-debian_config_debian.8-x64.json
  src/pkg/packaging/deb/dotnet-runtime-deps-debian_config_debian.9-x64.json
  src/pkg/packaging/deb/dotnet-runtime-deps-debian_config_ubuntu.14.04-x64.json
  src/pkg/packaging/deb/dotnet-runtime-deps-debian_config_ubuntu.16.04-x64.json
  src/pkg/packaging/deb/dotnet-runtime-deps-debian_config_ubuntu.17.10-x64.json
  src/pkg/packaging/deb/dotnet-runtime-deps-debian_config_ubuntu.19.04-x64.json
  src/pkg/packaging/deb/package.targets
  src/pkg/packaging/rpm/dotnet-runtime-deps-rpm_config_opensuse.42-x64.json
  src/pkg/packaging/rpm/dotnet-runtime-deps-rpm_config_sles.12-x64.json
Labels: Servicing-approved, area-Setup

#6246 [release/2.1] Generalize runtime deps Deb/RPM packages
  buildpipeline/Core-Setup-Linux-BT.json
  publish/dir.props
  src/pkg/packaging/deb/dotnet-runtime-deps-debian_config.json
  src/pkg/packaging/deb/dotnet-runtime-deps-debian_config_debian.8-x64.json
  src/pkg/packaging/deb/dotnet-runtime-deps-debian_config_debian.9-x64.json
  src/pkg/packaging/deb/dotnet-runtime-deps-debian_config_ubuntu.14.04-x64.json
  src/pkg/packaging/deb/dotnet-runtime-deps-debian_config_ubuntu.16.04-x64.json
  src/pkg/packaging/deb/dotnet-runtime-deps-debian_config_ubuntu.17.10-x64.json
  src/pkg/packaging/deb/dotnet-runtime-deps-debian_config_ubuntu.19.04-x64.json
  src/pkg/packaging/deb/package.targets
  src/pkg/packaging/rpm/dotnet-runtime-deps-rpm_config_opensuse.42-x64.json
  src/pkg/packaging/rpm/dotnet-runtime-deps-rpm_config_sles.12-x64.json
Labels: Servicing-approved, area-Setup

#6250 [release/2.1] Move runtime-deps to openssl 1.1: support SLES 15 without legacy
  src/pkg/packaging/rpm/dotnet-runtime-deps-rpm_config_sles.12-x64.json
Labels: Servicing-approved, area-Setup

#6251 [release/2.2] Move runtime-deps to openssl 1.1: support SLES 15 without legacy
  src/pkg/packaging/rpm/dotnet-runtime-deps-rpm_config_sles.12-x64.json
Labels: Servicing-approved, area-Setup

#6541 Alter the way comhost looks for the loose .clsidmap file
  src/corehost/cli/comhost/CMakeLists.txt
  src/corehost/cli/comhost/clsidmap.cpp
Labels: area-Host, os-windows

#6546 Improve apphost missing fxr error message with self registered location
  src/corehost/cli/fxr_resolver.cpp
  src/corehost/common/pal.h
  src/corehost/common/pal.unix.cpp
  src/corehost/common/pal.windows.cpp
Labels: area-Host

#6562 Fix intermittent failures in light.exe
  src/pkg/packaging/windows/sharedframework/generatebundle.ps1
Labels: area-Setup

#6547 Modify roll forward design document - behavior around "latest"
  Documentation/design-docs/framework-version-resolution.md
Labels: area-Host

#6494 Add component_create_native_delegate
  src/corehost/cli/corehost_context_contract.h
  src/corehost/cli/fxr/hostfxr.cpp
  src/corehost/cli/hostfxr.h
  src/corehost/cli/hostpolicy/hostpolicy.cpp
  src/corehost/cli/test/nativehost/host_context_test.cpp
  src/corehost/cli/test/nativehost/host_context_test.h
  src/corehost/cli/test/nativehost/nativehost.cpp
  src/test/Assets/TestProjects/ComponentWithNoDependencies/Component.cs
  src/test/HostActivationTests/NativeHosting/ComponentActivation.cs
  src/test/dir.proj
Labels: area-Host

#6596 Enable component activation tests
  src/test/Assets/TestProjects/ComponentWithNoDependencies/ComponentWithNoDependencies.csproj
  src/test/HostActivationTests/NativeHosting/ComponentActivation.cs
Labels: area-Host

#6573 Framework list updates: add WindowsDesktop Profile, include list in runtime packages
  src/pkg/projects/dir.targets
  src/pkg/projects/netcoreapp/pkg/legacy/Microsoft.NETCore.App.pkgproj
  src/pkg/projects/windowsdesktop/pkg/Microsoft.WindowsDesktop.App.pkgproj
  src/pkg/projects/windowsdesktop/pkg/dir.props
  tools-local/tasks/CreateFrameworkListFile.cs
Labels: area-Setup

#6569 Roll forward changes to propagate latest bit and disable pre-release auto roll
  src/corehost/cli/fx_reference.cpp
  src/corehost/cli/fx_reference.h
  src/corehost/cli/fxr/CMakeLists.txt
  src/corehost/cli/fxr/fx_resolver.cpp
  src/corehost/cli/fxr/fx_resolver.h
  src/corehost/cli/fxr/fx_resolver.messages.cpp
  src/corehost/cli/hostpolicy/CMakeLists.txt
  src/corehost/cli/roll_forward_option.cpp
  src/corehost/cli/roll_forward_option.h
  src/corehost/cli/version_compatibility_range.cpp
  src/corehost/cli/version_compatibility_range.h
  src/test/HostActivationTests/FrameworkResolution/FrameworkResolutionCommandResultExtensions.cs
  src/test/HostActivationTests/FrameworkResolution/RollForwardMultipleFrameworks.cs
  src/test/HostActivationTests/FrameworkResolution/RollForwardOnNoCandidateFx.cs
  src/test/HostActivationTests/FrameworkResolution/RollForwardPreReleaseOnly.cs
  src/test/HostActivationTests/FrameworkResolution/RollForwardReleaseAndPreRelease.cs
  src/test/HostActivationTests/NativeHosting/HostContext.cs
  src/test/HostActivationTests/RuntimeConfig.cs
  src/test/TestUtils/TestFileBackup.cs
Labels: area-Host
