Repository dotnet/core-setup, pull requests merged in 2019-03, with the labels that each got.

#5294 Remove usage of atomic and rely on lock instead.
  src/corehost/cli/coreclr.cpp
  src/corehost/cli/coreclr.h
Labels: area-Host

#5309 Remove uses of the shared and weak ptrs
  src/corehost/cli/hostpolicy.cpp
Labels: arch-arm32, area-Host, blocking-release, bug, os-linux

#5322 Statically link against libatomic on Linux-ARM32 platforms
  src/corehost/cli/common.cmake
  src/corehost/cli/exe.cmake
  src/corehost/cli/lib.cmake
Labels: arch-arm32, area-Host, os-linux

#5332 Remove unused test project and fixture settings
  src/test/HostActivationTests/GivenThatICareAboutComponentDependencyResolution.cs
  src/test/HostActivationTests/GivenThatICareAboutMultilevelSharedFxLookup.DepsVersion.cs
  src/test/HostActivationTests/GivenThatICareAboutMultilevelSharedFxLookup.cs
  src/test/HostActivationTests/GivenThatICareAboutNativeHostApis.cs
  src/test/HostActivationTests/GivenThatICareAboutSharedFxLookup.cs
  src/test/HostActivationTests/GivenThatICareAboutStandaloneAppActivation.cs
  src/test/TestUtils/DotNetCli.cs
  src/test/TestUtils/RuntimeInformationExtensions.cs
  src/test/TestUtils/TestProject.cs
  src/test/TestUtils/TestProjectFixture.cs
Labels: area-Host, test enhancement

#5343 Try to fix ARM CI flakiness by removing NuGet http cache for Windows builds
  eng/jobs/windows-build.yml
Labels: area-Infrastructure

#5352 Introduce TestArtifact and some refactoring.
  src/test/HostActivationTests/GivenThatICareAboutPortableAppActivation.cs
  src/test/TestUtils/TestApp.cs
  src/test/TestUtils/TestArtifact.cs
  src/test/TestUtils/TestProject.cs
  src/test/TestUtils/TestProjectFixture.cs
Labels: area-Host, test enhancement

#5378 Support building core-setup with VS2019
  Documentation/building/windows-instructions.md
  src/corehost/Windows/gen-buildsys-win.bat
  src/corehost/build.cmd
Labels: area-Host, area-Infrastructure

#5153 Host testing proposal
  Documentation/design-docs/host-testing.md
Labels: area-Host, documentation, test enhancement

#5389 Fix native build warnings
  src/corehost/cli/args.h
  src/corehost/cli/libhost.h
Labels: area-Host

#5393 Removing 1.0 compat registry key
  src/pkg/packaging/windows/sharedframework/registrykeys.wxs
Labels: area-Setup

#5380 Remove host RPM postinstall, install the symlink
  src/pkg/packaging/rpm/dotnet-sharedhost-rpm_config.json
  src/pkg/packaging/rpm/package.targets
  src/pkg/packaging/rpm/scripts/after_install_host.sh
  src/pkg/packaging/rpm/scripts/after_remove_host.sh
Labels: area-Setup

#5391 Split libhost.h into multiple headers and cleanup
  src/corehost/cli/args.cpp
  src/corehost/cli/args.h
  src/corehost/cli/deps_resolver.cpp
  src/corehost/cli/fxr/CMakeLists.txt
  src/corehost/cli/fxr/corehost_init.h
  src/corehost/cli/fxr/framework_info.h
  src/corehost/cli/fxr/fx_muxer.cpp
  src/corehost/cli/fxr/fx_muxer.h
  src/corehost/cli/fxr/hostfxr.cpp
  src/corehost/cli/fxr/sdk_info.h
  src/corehost/cli/host_interface.h
  src/corehost/cli/hostpolicy.cpp
  src/corehost/cli/hostpolicy/CMakeLists.txt
  src/corehost/cli/hostpolicy_init.h
  src/corehost/cli/libhost.cpp
  src/corehost/cli/libhost.h
Labels: area-Host

#5409 Remove small amount of code duplication in cmake files.
  src/corehost/cli/comhost/CMakeLists.txt
  src/corehost/cli/common.cmake
  src/corehost/cli/exe.cmake
  src/corehost/cli/fxr/CMakeLists.txt
  src/corehost/cli/hostpolicy/CMakeLists.txt
Labels: area-Host, area-Infrastructure

#5406 Move method bodies out of header files
  src/corehost/cli/fxr/CMakeLists.txt
  src/corehost/cli/fxr/corehost_init.cpp
  src/corehost/cli/fxr/corehost_init.h
  src/corehost/cli/host_interface.h
  src/corehost/cli/hostpolicy/CMakeLists.txt
  src/corehost/cli/hostpolicy_init.cpp
  src/corehost/cli/hostpolicy_init.h
Labels: area-Host

#5431 Fix comhost to actually have exports
  src/corehost/cli/comhost/CMakeLists.txt
Labels: area-Host

#5410 Test cleanup
  src/test/HostActivationTests/GivenThatICareAboutMultilevelSharedFxLookup.cs
  src/test/HostActivationTests/GivenThatICareAboutPortableAppActivation.cs
  src/test/HostActivationTests/GivenThatICareAboutSharedFxLookup.cs
  src/test/HostActivationTests/GivenThatICareAboutStandaloneAppActivation.cs
  src/test/TestUtils/AppHostExtensions.cs
  src/test/TestUtils/ArgumentEscaper.cs
  src/test/TestUtils/Assertions/DirectoryInfoExtensions.cs
  src/test/TestUtils/Command.cs
  src/test/TestUtils/Constants.cs
  src/test/TestUtils/EnvVars.cs
  src/test/TestUtils/RepoDirectoriesProvider.cs
  src/test/TestUtils/Reporter.cs
Labels: area-Host, test enhancement

#5455 The AppHost and the global registry key
  src/corehost/common/pal.h
  src/corehost/common/pal.unix.cpp
  src/corehost/common/pal.windows.cpp
  src/corehost/corehost.cpp
  src/test/HostActivationTests/PortableAppActivation.cs
Labels: area-Host

#5397 Use the CMake install target to place binaries instead of MSBuild post-processing
  azure-pipelines.yml
  src/corehost/build.cmd
  src/corehost/build.proj
  src/corehost/build.sh
  src/corehost/cli/apphost/CMakeLists.txt
  src/corehost/cli/comhost/CMakeLists.txt
  src/corehost/cli/dotnet/CMakeLists.txt
  src/corehost/cli/exe.cmake
  src/corehost/cli/fxr/CMakeLists.txt
  src/corehost/cli/hostpolicy/CMakeLists.txt
  src/settings.cmake
Labels: area-Infrastructure

#5476 Clarify why renaming dotnet.exe is blocked.
  src/corehost/corehost.cpp
Labels: area-Host

#5478 Use tests folder for test artifacts
  src/test/Assets/TestProjects/PortableAppWithLongPath/Program.cs
  src/test/HostActivationTests/WindowsSpecificBehavior.cs
Labels: area-Host, test enhancement

#5398 [release/2.1] Remove host RPM postinstall, install the symlink
  src/pkg/packaging/rpm/dotnet-sharedhost-rpm_config.json
  src/pkg/packaging/rpm/package.targets
  src/pkg/packaging/rpm/scripts/after_install_host.sh
  src/pkg/packaging/rpm/scripts/after_remove_host.sh
Labels: Servicing-approved, area-Setup

#5496 COMHost logging and registration bugs
  src/corehost/cli/comhost/clsidmap.cpp
  src/corehost/cli/comhost/exports.cpp
Labels: area-Host, bug

#5497 Update the roll forward doc to document no inheritance
  Documentation/design-docs/roll-forward-on-no-candidate-fx.md
Labels: area-Host, documentation

#5502 Framework resolution tests
  src/corehost/cli/CMakeLists.txt
  src/corehost/cli/test/CMakeLists.txt
  src/corehost/cli/test/mockhostpolicy/CMakeLists.txt
  src/corehost/cli/test/mockhostpolicy/mockhostpolicy.cpp
  src/corehost/cli/test/testlib.cmake
  src/test/HostActivationTests/Constants.cs
  src/test/HostActivationTests/FrameworkResolution/ApplyPatchesSettings.cs
  src/test/HostActivationTests/FrameworkResolution/DotNetCliExtensions.cs
  src/test/HostActivationTests/FrameworkResolution/FrameworkResolutionBase.cs
  src/test/HostActivationTests/FrameworkResolution/FrameworkResolutionCommandResultExtensions.cs
  src/test/HostActivationTests/FrameworkResolution/MultipleFrameworks.cs
  src/test/HostActivationTests/FrameworkResolution/RollForwardOnNoCandidateFx.cs
  src/test/HostActivationTests/FrameworkResolution/RollForwardOnNoCandidateFxSettings.cs
  src/test/HostActivationTests/RuntimeConfig.cs
  src/test/HostActivationTests/SharedFramework.cs
  src/test/TestUtils/TestArtifact.cs
Labels: area-Host, test enhancement

#5508 Don't save CI packages as artifacts
  eng/jobs/bash-build.yml
Labels: area-Infrastructure

#5512 Move pkg tools import for runtime.json override
  src/pkg/projects/dir.props
Labels: area-Setup

#5509 Enable upgrade-in-place Shared Framework bundle installer
  dir.props
  src/pkg/packaging/windows/package.targets
  src/pkg/packaging/windows/sharedframework/bundle.wxs
  src/pkg/packaging/windows/sharedframework/generatebundle.ps1
Labels: area-Setup

#5504 Create .NET Core Targeting Pack macOS pkg installer
  src/pkg/dir.props
  src/pkg/projects/packaging-tools/framework.packaging.targets
  src/pkg/projects/packaging-tools/packaging-tools.props
  src/pkg/projects/windowsdesktop/pkg/dir.props
Labels: area-Setup

#5202 Exact spec of framework version resolution
  Documentation/design-docs/framework-version-resolution.md
Labels: area-Host

#5515 Disable using clang 3.9 for linux ARM cross build
  azure-pipelines.yml
  src/corehost/build.sh
Labels: arch-arm32, area-Host

#5519 Unblock build: patch out _PublishUsingPipelines
  eng/common/templates/job/publish-build-assets.yml
Labels: area-Infrastructure

#5185 IJW Host
  Documentation/design-docs/IJW-activation.md
  signing/sign.proj
  src/corehost/CMakeLists.txt
  src/corehost/Windows/gen-buildsys-win.bat
  src/corehost/build.proj
  src/corehost/cli/CMakeLists.txt
  src/corehost/cli/comhost/CMakeLists.txt
  src/corehost/cli/comhost/comhost.cpp
  src/corehost/cli/deps_resolver.cpp
  src/corehost/cli/exe.cmake
  src/corehost/cli/fxr/fx_muxer.cpp
  src/corehost/cli/fxr/fx_muxer.h
  src/corehost/cli/fxr/hostfxr.cpp
  src/corehost/cli/fxr_resolver.cpp
  src/corehost/cli/fxr_resolver.h
  src/corehost/cli/hostfxr.h
  src/corehost/cli/hostpolicy.cpp
  src/corehost/cli/ijwhost/AMD64/asmhelpers.asm
  src/corehost/cli/ijwhost/AMD64/asmmacros.inc
  src/corehost/cli/ijwhost/AMD64/bootstrap_thunk.cpp
  src/corehost/cli/ijwhost/AMD64/bootstrap_thunk.h
  src/corehost/cli/ijwhost/CMakeLists.txt
  src/corehost/cli/ijwhost/Exports.def
  src/corehost/cli/ijwhost/arm/asmhelpers.asm
  src/corehost/cli/ijwhost/arm/bootstrap_thunk.cpp
  src/corehost/cli/ijwhost/arm/bootstrap_thunk.h
  src/corehost/cli/ijwhost/arm/kxarm.h
  src/corehost/cli/ijwhost/arm/kxarmunw.h
  src/corehost/cli/ijwhost/arm64/asmhelpers.asm
  src/corehost/cli/ijwhost/arm64/bootstrap_thunk.cpp
  src/corehost/cli/ijwhost/arm64/bootstrap_thunk.h
  src/corehost/cli/ijwhost/arm64/kxarm64.h
  src/corehost/cli/ijwhost/arm64/kxarm64unw.h
  src/corehost/cli/ijwhost/bootstrap_thunk_chunk.cpp
  src/corehost/cli/ijwhost/bootstrap_thunk_chunk.h
  src/corehost/cli/ijwhost/corhdr.h
  src/corehost/cli/ijwhost/i386/asmhelpers.asm
  src/corehost/cli/ijwhost/i386/bootstrap_thunk.cpp
  src/corehost/cli/ijwhost/i386/bootstrap_thunk.h
  src/corehost/cli/ijwhost/ijwhost.cpp
  src/corehost/cli/ijwhost/ijwhost.h
  src/corehost/cli/ijwhost/ijwthunk.cpp
  src/corehost/cli/ijwhost/pedecoder.cpp
  src/corehost/cli/ijwhost/pedecoder.h
  src/corehost/common/corehost.h
  src/corehost/common/pal.h
  src/corehost/common/pal.unix.cpp
  src/corehost/common/pal.windows.cpp
  src/corehost/common/utils.h
  src/corehost/corehost.cpp
  src/functions.cmake
  src/pkg/projects/Microsoft.NETCore.DotNetAppHost/runtime.Windows_NT.Microsoft.NETCore.DotNetAppHost.props
  src/settings.cmake
  src/sharedFramework/sharedFramework.proj
Labels: area-Host, os-windows

#5514 Include header files in projects
  src/corehost/cli/apphost/CMakeLists.txt
  src/corehost/cli/comhost/CMakeLists.txt
  src/corehost/cli/common.cmake
  src/corehost/cli/dotnet/CMakeLists.txt
  src/corehost/cli/fxr/CMakeLists.txt
  src/corehost/cli/hostpolicy/CMakeLists.txt
Labels: area-Host, area-Infrastructure

#4953 Implement SemVer 2.0.0
  src/corehost/cli/CMakeLists.txt
  src/corehost/cli/fxr/fx_ver.cpp
  src/corehost/cli/fxr/fx_ver.h
  src/corehost/cli/test_fx_ver/CMakeLists.txt
  src/corehost/cli/test_fx_ver/test_fx_ver.cpp
  src/test/HostActivationTests/GivenThatICareAboutNativeUnitTests.cs
  src/test/HostActivationTests/SDKLookup.cs
  src/test/HostActivationTests/SharedFxLookup.cs
Labels: area-Host

#5525 Fix daily build symbol publish: 180 days, both servers
  azure-pipelines.yml
  publish/publish.proj
Labels: area-Infrastructure

#5516 Improve roll forward spec and tests
  Documentation/design-docs/framework-version-resolution.md
  src/test/HostActivationTests/FrameworkResolution/RollForwardOnNoCandidateFx.cs
Labels: area-Host

#5533 Fix WindowsDesktop Targeting Pack file list root attributes
  src/pkg/projects/dir.props
  src/pkg/projects/dir.targets
  src/pkg/projects/netcoreapp/pkg/dir.props
  src/pkg/projects/windowsdesktop/dir.props
  src/pkg/projects/windowsdesktop/pkg/dir.props
  src/pkg/projects/windowsdesktop/src/windowsdesktop.depproj
Labels: area-Setup

#5524 Generalize test settings for framework resolution tests
  src/test/HostActivationTests/Constants.cs
  src/test/HostActivationTests/FrameworkResolution/ApplyPatchesSettings.cs
  src/test/HostActivationTests/FrameworkResolution/FrameworkResolutionBase.Settings.cs
  src/test/HostActivationTests/FrameworkResolution/FrameworkResolutionBase.cs
  src/test/HostActivationTests/FrameworkResolution/RollForwardOnNoCandidateFxSettings.cs
  src/test/HostActivationTests/HostActivationTests.csproj
  src/test/HostActivationTests/RuntimeConfig.cs
Labels: area-Host, test enhancement

#5536 Add "Internal implementation package" notice to Targeting Pack nupkg description
  src/pkg/projects/packaging-tools/framework.packaging.targets
Labels: area-Setup

#5535 Add .NET Standard 2.1 Targeting Pack
  dir.props
  eng/Version.Details.xml
  eng/Versions.props
  src/pkg/packaging/deb/package.props
  src/pkg/packaging/rpm/package.props
  src/pkg/projects/descriptions.json
  src/pkg/projects/netstandard/pkg/NETStandard.Library.Ref.pkgproj
  src/pkg/projects/netstandard/pkg/dir.props
  src/pkg/projects/netstandard/src/netstandard.depproj
  src/pkg/projects/packaging-tools/framework.dependency.targets
  src/pkg/projects/packaging-tools/framework.packaging.targets
  src/pkg/projects/packaging-tools/packaging-tools.props
Labels: area-Setup

#5542 Fix framework ordering if graphs
  src/corehost/cli/fxr/fx_muxer.cpp
  src/test/HostActivationTests/FrameworkResolution/MultipleFrameworks.cs
Labels: area-Host

#5549 Improve .NET Shared Framework bundle installer accessibility
  src/pkg/packaging/windows/sharedframework/bundle.thm
Labels: area-Setup

#5557 Revert "Use correct way to pin dependencies"
  eng/Version.Details.xml
Labels: area-Infrastructure

#5570 Run tests on Windows jobs using '-test' alias
  azure-pipelines.yml
  eng/jobs/windows-build.yml
Labels: area-Infrastructure

#5561 Use Pinned attribute for Microsoft.NETCore.Targets dependency
  eng/Version.Details.xml
Labels: area-Infrastructure

#5545 Add framework resolution tests for --fx-version
  src/test/HostActivationTests/Constants.cs
  src/test/HostActivationTests/FrameworkResolution/FxVersionCLI.cs
  src/test/HostActivationTests/FrameworkResolution/RollForwardOnNoCandidateFxSettings.cs
Labels: area-Host, test enhancement

#5548 Rename test only env variables
  src/corehost/common/pal.windows.cpp
  src/test/Assets/TestProjects/HostApiInvokerApp/Program.cs
  src/test/HostActivationTests/Constants.cs
  src/test/HostActivationTests/FrameworkResolution/MultipleHives.cs
  src/test/HostActivationTests/MultilevelSDKLookup.cs
  src/test/HostActivationTests/MultilevelSharedFxLookup.cs
  src/test/HostActivationTests/NativeHosting/Nethost.cs
  src/test/HostActivationTests/PortableAppActivation.cs
Labels: area-Host

#5544 FX resolution small cleanup
  src/corehost/cli/fxr/fx_muxer.cpp
  src/corehost/cli/fxr/fx_muxer.h
Labels: area-Host

#5583 Test on Windows x86 in CI
  azure-pipelines.yml
Labels: area-Infrastructure

#5575 Omit trailing path separator in TPA
  src/corehost/cli/hostpolicy.cpp
  src/test/HostActivationTests/PortableAppActivation.cs
Labels: area-Host

#5591 Switch from *-temp to BYOC agent pools
  azure-pipelines.yml
  eng/jobs/bash-build.yml
  eng/jobs/finalize-publish.yml
  eng/jobs/windows-build.yml
Labels: area-Infrastructure

#5593 Temporary fix for BAR publish failing on a warning
  eng/common/sdk-task.ps1
Labels: area-Infrastructure

#5612 Remove coreclr shutdown from coreclr_t destructor.
  src/corehost/cli/coreclr.cpp
  src/corehost/cli/coreclr.h
Labels: area-Host

#5582 Refactor FX resolution into its own class
  src/corehost/cli/fxr/CMakeLists.txt
  src/corehost/cli/fxr/fx_muxer.cpp
  src/corehost/cli/fxr/fx_muxer.h
  src/corehost/cli/fxr/fx_resolver.cpp
  src/corehost/cli/fxr/fx_resolver.h
  src/corehost/cli/fxr/fx_resolver.messages.cpp
  src/corehost/common/utils.cpp
  src/corehost/common/utils.h
Labels: area-Host

#5598 Disable multi-level lookup for the test solution
  visual-studio-devenv.cmd
Labels: area-Infrastructure
