Repository dotnet/core-setup, pull requests merged in 2019-04, with the labels that each got.

#5664 Add <functional> include to coreclr.h
  src/corehost/cli/hostpolicy/coreclr.h
Labels: area-Host

#5650 Add ijwhost.lib to host package.
  src/corehost/cli/ijwhost/Exports.def
  src/pkg/projects/Microsoft.NETCore.DotNetAppHost/runtime.Windows_NT.Microsoft.NETCore.DotNetAppHost.props
  src/pkg/projects/dir.targets
Labels: area-Host

#5682 Enforce that DLL/EXEs in platform manifest have a FileVersion
  src/pkg/projects/dir.targets
  src/pkg/projects/windowsdesktop/dir.props
  tools-local/tasks/GenerateFileVersionProps.cs
Labels: area-Setup

#5527 .NET Core WinRT Host
  Documentation/design-docs/WinRT-activation.md
  signing/sign.proj
  src/corehost/build.proj
  src/corehost/cli/CMakeLists.txt
  src/corehost/cli/comhost/CMakeLists.txt
  src/corehost/cli/comhost/comhost.cpp
  src/corehost/cli/fxr/fx_muxer.h
  src/corehost/cli/fxr/hostfxr.cpp
  src/corehost/cli/fxr_resolver.h
  src/corehost/cli/hostfxr.h
  src/corehost/cli/hostpolicy/hostpolicy.cpp
  src/corehost/cli/ijwhost/ijwhost.cpp
  src/corehost/cli/redirected_error_writer.cpp
  src/corehost/cli/redirected_error_writer.h
  src/corehost/cli/winrthost/CMakeLists.txt
  src/corehost/cli/winrthost/Exports.def
  src/corehost/cli/winrthost/winrthost.cpp
Labels: area-Host, os-windows

#5635 Roll forward for pre release edge cases
  Documentation/design-docs/framework-version-resolution.md
  src/test/HostActivationTests/FrameworkResolution/RollForwardOnNoCandidateFx.cs
Labels: area-Host

#5690 Improve multi framework resolution tests
  src/test/HostActivationTests/FrameworkResolution/RollForwardOnNoCandidateFxMultipleFrameworks.cs
Labels: area-Host, test enhancement

#5761 Add missing closedir() in readdir()
  src/corehost/common/pal.unix.cpp
Labels: area-Host

#5597 Tests for startup hook using simple name only
  Documentation/design-docs/host-startup-hook.md
  eng/Version.Details.xml
  eng/Versions.props
  src/test/HostActivationTests/StartupHooks.cs
Labels: area-Host

#5729 Remove test duplicates
  src/corehost/cli/hostpolicy/args.cpp
  src/test/HostActivationTests/FrameworkResolution/FrameworkResolutionBase.cs
  src/test/HostActivationTests/FrameworkResolution/MultipleHives.cs
  src/test/HostActivationTests/FrameworkResolution/RollForwardOnNoCandidateFx.cs
  src/test/HostActivationTests/FrameworkResolution/RollForwardOnNoCandidateFxMultipleFrameworks.cs
  src/test/HostActivationTests/SharedFxLookup.cs
Labels: area-Host

#5805 Update COM-activation.md
  Documentation/design-docs/COM-activation.md
Labels: area-Host

#5744 Fix algorithm description with the order problem solution
  Documentation/design-docs/framework-version-resolution.md
Labels: area-Host

#5896 [release/2.1] Create dotnet-runtime-deps for Ubuntu 19.04
  buildpipeline/Core-Setup-Linux-BT.json
  publish/dir.props
  src/pkg/packaging/deb/dotnet-runtime-deps-debian_config_ubuntu.19.04-x64.json
Labels: Servicing-approved, area-Setup

#5899 Update readme: Ubuntu 19.04 and Linux musl arm64
  README.md
  build.proj
Labels: area-Setup

#5889 Update hosting components with new hosts and new scenarios
  Documentation/design-docs/host-components.md
Labels: area-Host, documentation

#5897 [master] Create dotnet-runtime-deps for Ubuntu 19.04
  azure-pipelines.yml
  publish/dir.props
  src/pkg/packaging/deb/dotnet-runtime-deps-debian_config_ubuntu.19.04-x64.json
Labels: area-Setup

#5691 Roll forward
  Documentation/design-docs/framework-version-resolution.md
  src/corehost/cli/fx_definition.cpp
  src/corehost/cli/fx_definition.h
  src/corehost/cli/fx_reference.cpp
  src/corehost/cli/fx_reference.h
  src/corehost/cli/fxr/CMakeLists.txt
  src/corehost/cli/fxr/fx_muxer.cpp
  src/corehost/cli/fxr/fx_resolver.cpp
  src/corehost/cli/fxr/fx_resolver.h
  src/corehost/cli/fxr/fx_resolver.messages.cpp
  src/corehost/cli/hostpolicy/CMakeLists.txt
  src/corehost/cli/hostpolicy/hostpolicy.cpp
  src/corehost/cli/roll_forward_option.cpp
  src/corehost/cli/roll_forward_option.h
  src/corehost/cli/roll_fwd_on_no_candidate_fx_option.h
  src/corehost/cli/runtime_config.cpp
  src/corehost/cli/runtime_config.h
  src/corehost/common/utils.cpp
  src/test/HostActivationTests/Constants.cs
  src/test/HostActivationTests/FrameworkResolution/ApplyPatchesSettings.cs
  src/test/HostActivationTests/FrameworkResolution/DotNetCliExtensions.cs
  src/test/HostActivationTests/FrameworkResolution/FrameworkResolutionBase.Settings.cs
  src/test/HostActivationTests/FrameworkResolution/FrameworkResolutionBase.cs
  src/test/HostActivationTests/FrameworkResolution/FrameworkResolutionCommandResultExtensions.cs
  src/test/HostActivationTests/FrameworkResolution/FxVersionCLI.cs
  src/test/HostActivationTests/FrameworkResolution/MultipleHives.cs
  src/test/HostActivationTests/FrameworkResolution/RollForwardMultipleFrameworks.cs
  src/test/HostActivationTests/FrameworkResolution/RollForwardOnNoCandidateFx.cs
  src/test/HostActivationTests/FrameworkResolution/RollForwardOnNoCandidateFxMultipleFrameworks.cs
  src/test/HostActivationTests/FrameworkResolution/RollForwardOnNoCandidateFxSettings.cs
  src/test/HostActivationTests/FrameworkResolution/RollForwardPreReleaseOnly.cs
  src/test/HostActivationTests/FrameworkResolution/RollForwardReleaseAndPreRelease.cs
  src/test/HostActivationTests/FrameworkResolution/RollForwardReleaseOnly.cs
  src/test/HostActivationTests/FrameworkResolution/RollForwardSettings.cs
  src/test/HostActivationTests/RuntimeConfig.cs
Labels: area-Host

#5948 Apphost: Handle long paths while reading bun…
  src/corehost/cli/apphost/bundle/bundle_runner.cpp
  src/corehost/cli/apphost/bundle/bundle_runner.h
  src/corehost/cli/apphost/bundle/file_entry.cpp
  src/corehost/cli/apphost/bundle/file_entry.h
  src/corehost/cli/apphost/bundle/manifest.cpp
  src/corehost/cli/apphost/bundle/manifest.h
  src/test/Assets/TestProjects/StandaloneAppWithSubDirs/Program.cs
  src/test/Assets/TestProjects/StandaloneAppWithSubDirs/Sentence/Noun/Pronoun/Another/word
  src/test/Assets/TestProjects/StandaloneAppWithSubDirs/Sentence/This is a really, really, really, really, really, really, really, really, really, really, really, really, really, really long file name for punctuation/word
  src/test/Assets/TestProjects/StandaloneAppWithSubDirs/StandaloneAppWithSubDirs.csproj
Labels: area-Host

#5942 Crossgen the WindowsDesktop shared framework using standardized crossgen infra
  src/pkg/packaging-tools/framework.dependency.targets
  src/pkg/projects/dir.props
  src/pkg/projects/netcoreapp/src/netcoreapp.depproj
  src/pkg/projects/netstandard/dir.props
  src/pkg/projects/netstandard/netstandardRIDs.props
  src/pkg/projects/netstandard/pkg/dir.props
Labels: area-Setup

#6004 [release/3.0] Fix FixLayoutPermissions ordering for AppHost +x permission in installers
  src/pkg/packaging-tools/framework.packaging.targets
Labels: Servicing-consider, area-Setup

#6003 Fix FixLayoutPermissions ordering for AppHost +x permission in installers
  src/pkg/packaging-tools/framework.packaging.targets
Labels: area-Setup

#5336 Native hosting proposal
  Documentation/design-docs/native-hosting.md
Labels: area-Host, enhancement

#5893 Produce mostly empty Microsoft.NETCore.App
  TestProjects.props
  config.json
  dir.props
  eng/jobs/windows-build.yml
  src/dir.proj
  src/pkg/packaging-tools/framework.packaging.targets
  src/pkg/packaging-tools/packaging-tools.targets
  src/pkg/packaging-tools/sharedFramework/sharedFramework.csproj
  src/pkg/packaging-tools/windows/sharedFramework/breadcrumbstorefolder.wxs
  src/pkg/packaging-tools/windows/sharedFramework/product.wxs
  src/pkg/packaging-tools/windows/sharedFramework/werrelatedkeys.wxs
  src/pkg/packaging-tools/windows/wix.targets
  src/pkg/packaging/windows/package.targets
  src/pkg/packaging/windows/sharedframework/generatemsi.ps1
  src/pkg/packaging/windows/sharedframework/provider.wxs
  src/pkg/packaging/windows/sharedframework/registrykeys.wxs
  src/pkg/packaging/windows/sharedframework/sharedframework.wxs
  src/pkg/projects/descriptions.json
  src/pkg/projects/netcoreapp/pkg/Microsoft.NETCore.App.Internal.pkgproj
  src/pkg/projects/netcoreapp/pkg/Microsoft.NETCore.App.pkgproj
  src/pkg/projects/netcoreapp/pkg/Microsoft.NETCore.App.targets
  src/pkg/projects/netcoreapp/pkg/dir.props
  src/sharedFramework/framework/Program.cs
  src/sharedFramework/framework/framework.csproj
  src/sharedFramework/lockedhost/lockedhost.csproj
  src/sharedFramework/sharedFramework.proj
  src/test/Assets/TestProjects/Directory.Build.props
  src/test/Assets/TestProjects/MNADeprecationWorkaround.props
  src/test/Assets/TestProjects/PortableApp/PortableApp.csproj
  src/test/Assets/TestProjects/StandaloneApp20/Directory.Build.props
  src/test/Assets/TestProjects/StandaloneApp21/Directory.Build.props
Labels: area-Setup

#6025 Remove the --roll-forward-on-no-candidate-fx from command line help
  src/corehost/cli/fxr/fx_muxer.cpp
  src/corehost/cli/fxr/fx_muxer.h
Labels: area-Host

#6053 Add trace flush to error writer propagation
  src/corehost/cli/fxr/fx_muxer.cpp
  src/corehost/common/utils.h
  src/corehost/corehost.cpp
Labels: area-Host

#6096 Remove ".Internal" from runtime packages
  src/pkg/projects/dir.props
  src/pkg/projects/netcoreapp/pkg/dir.props
  src/pkg/projects/netcoreapp/pkg/legacy/Microsoft.NETCore.App.Internal.pkgproj
  src/pkg/projects/netcoreapp/pkg/legacy/Microsoft.NETCore.App.pkgproj
  src/pkg/projects/netcoreapp/pkg/legacy/dir.props
  src/pkg/projects/netcoreapp/pkg/workaround/Microsoft.NETCore.App.pkgproj
Labels: area-Setup

#6092 Fix build warnings in the coreclr mock.
  src/corehost/cli/test/mockcoreclr/mockcoreclr.cpp
Labels: area-Host

#6128 Skip System.Windows.Forms crossgen
  src/pkg/packaging-tools/framework.dependency.targets
Labels: area-Setup

#6070 Generalize dotnet-runtime-deps Deb/RPM package dependencies
  azure-pipelines.yml
  src/pkg/packaging/deb/dotnet-runtime-deps-debian_config.json
  src/pkg/packaging/deb/dotnet-runtime-deps-debian_config_debian.8-x64.json
  src/pkg/packaging/deb/dotnet-runtime-deps-debian_config_debian.9-x64.json
  src/pkg/packaging/deb/dotnet-runtime-deps-debian_config_ubuntu.14.04-x64.json
  src/pkg/packaging/deb/dotnet-runtime-deps-debian_config_ubuntu.16.04-x64.json
  src/pkg/packaging/deb/dotnet-runtime-deps-debian_config_ubuntu.18.04-x64.json
  src/pkg/packaging/deb/package.targets
  src/pkg/packaging/rpm/dotnet-runtime-deps-rpm_config_opensuse.42-x64.json
  src/pkg/packaging/rpm/dotnet-runtime-deps-rpm_config_sles.12-x64.json
Labels: area-Setup

#6168 Increase GUI test timeout and add more diagnostics.
  src/test/HostActivationTests/StandaloneAppActivation.cs
Labels: area-Host
