Repository dotnet/core-setup, pull requests merged in 2019-07, with the labels that each got.

#7020 Add parameters struct to nethost get_hostfxr_path
  Documentation/design-docs/native-hosting.md
  src/corehost/cli/fxr_resolver.cpp
  src/corehost/cli/fxr_resolver.h
  src/corehost/cli/nethost/nethost.cpp
  src/corehost/cli/nethost/nethost.h
  src/corehost/cli/test/nativehost/nativehost.cpp
  src/test/HostActivationTests/Constants.cs
  src/test/HostActivationTests/NativeHosting/Nethost.cs
Labels: area-Host

#7135 Retry extraction of bundle to avoid issues with locked files by AV
  src/corehost/cli/apphost/bundle/bundle_runner.cpp
  src/corehost/cli/apphost/bundle/bundle_runner.h
  src/corehost/common/pal.h
Labels: area-Host

#7122 Minor fixes to the native hosting doc
  Documentation/design-docs/native-hosting.md
Labels: area-Host, documentation

#6919 Test component dependency resolution via native host tests
  src/corehost/cli/test/nativehost/CMakeLists.txt
  src/corehost/cli/test/nativehost/error_writer_redirector.cpp
  src/corehost/cli/test/nativehost/error_writer_redirector.h
  src/corehost/cli/test/nativehost/host_context_test.cpp
  src/corehost/cli/test/nativehost/hostfxr_exports.cpp
  src/corehost/cli/test/nativehost/hostfxr_exports.h
  src/corehost/cli/test/nativehost/hostpolicy_exports.cpp
  src/corehost/cli/test/nativehost/hostpolicy_exports.h
  src/corehost/cli/test/nativehost/nativehost.cpp
  src/corehost/cli/test/nativehost/resolve_component_dependencies_test.cpp
  src/corehost/cli/test/nativehost/resolve_component_dependencies_test.h
  src/test/Assets/TestProjects/HostApiInvokerApp/HostPolicy.cs
  src/test/HostActivationTests/Constants.cs
  src/test/HostActivationTests/DependencyResolution/ComponentDependencyResolutionBase.cs
  src/test/HostActivationTests/DependencyResolution/DependencyResolutionBase.cs
  src/test/HostActivationTests/DependencyResolution/DependencyResolutionCommandResultExtensions.cs
  src/test/HostActivationTests/DependencyResolution/PerAssemblyVersionResolution.cs
  src/test/HostActivationTests/DependencyResolution/PortableAppRidAssetResolution.cs
  src/test/HostActivationTests/DependencyResolution/ResolveComponentDependencies.cs
  src/test/HostActivationTests/DependencyResolution/RidAssetResolution.cs
  src/test/HostActivationTests/DotNetBuilder.cs
  src/test/HostActivationTests/NetCoreAppBuilder.cs
  src/test/TestUtils/Assertions/CommandResultExtensions.cs
Labels: area-Host

#7171 Fixes couple of places in the bundle runner where we might leak memory.
  src/corehost/cli/apphost/bundle/bundle_runner.cpp
  src/corehost/cli/apphost/bundle/bundle_runner.h
  src/corehost/cli/apphost/bundle/file_entry.cpp
  src/corehost/cli/apphost/bundle/file_entry.h
  src/corehost/cli/apphost/bundle/header.cpp
  src/corehost/cli/apphost/bundle/header.h
  src/corehost/cli/apphost/bundle/manifest.cpp
  src/corehost/cli/apphost/bundle/manifest.h
  src/corehost/cli/apphost/bundle/marker.cpp
Labels: area-Host

#7134 Use tracing infrastructure to log realpath() and getcwd() errors
  src/corehost/common/pal.unix.cpp
Labels: area-Host

#6814 Small improvements to Unix PAL
  src/corehost/common/pal.unix.cpp
Labels: area-Host

#7277 Comhost IErrorInfo test
  src/corehost/cli/fxr_resolver.h
  src/corehost/cli/test/nativehost/comhost_test.cpp
  src/corehost/cli/test/nativehost/comhost_test.h
  src/corehost/cli/test/nativehost/nativehost.cpp
  src/test/HostActivation.Tests/NativeHosting/Comhost.cs
Labels: area-Host, os-windows, test enhancement

#7297 Propagate error writer to hostfxr during delegate acquisition.
  src/corehost/cli/fxr_resolver.h
Labels: area-Host

#7397 Enabling and conditioning the 'NuGetCommand' task.
  eng/jobs/windows-build.yml
Labels: area-Infrastructure

#7436 [release/3.0] Fix PlatformManifestProjectReference ordering to fix flakiness
  src/pkg/packaging-tools/framework.dependency.targets
  src/pkg/packaging-tools/framework.packaging.targets
  src/pkg/packaging-tools/framework.sharedfx.targets
  src/pkg/packaging-tools/packaging-tools.props
  src/pkg/packaging-tools/packaging-tools.targets
Labels: blocking-clean-ci

#7398 Support Visual Studio Preview Install Path discovery at Build
  src/corehost/build.cmd
Labels: area-Infrastructure
