Repository dotnet/core-setup, pull requests merged in 2020-03, with the labels that each got.

#9010 [release/3.1] Single-File: Close AppHost stream when reusing extraction
  src/corehost/cli/apphost/bundle/bundle_runner.cpp
  src/test/Assets/TestProjects/AppWithWait/AppWithWait.csproj
  src/test/Assets/TestProjects/AppWithWait/Program.cs
  src/test/BundleTests/Helpers/BundleHelper.cs
  src/test/BundleTests/Microsoft.NET.HostModel.Bundle.Tests/BundleRename.cs
  src/test/TestUtils/TestProjectFixture.cs
Labels: Servicing-approved, area-Host

#9011 [release/3.1] Single-File: Unix: Extract to users-specific temp directory
  src/corehost/cli/apphost/bundle/bundle_runner.cpp
  src/corehost/common/pal.h
  src/corehost/common/pal.unix.cpp
  src/corehost/common/pal.windows.cpp
Labels: Servicing-approved, area-Host

#9012 [release/3.1] HostModel: Retry ResourceUpdate on Win32 error
  src/managed/Microsoft.NET.HostModel/AppHost/RetryUtil.cs
Labels: Servicing-approved, area-HostModel

#9015 [release/3.1] Add libicu65 to DEB deps package
  src/pkg/packaging/deb/package.targets
Labels: Servicing-approved, area-Setup

#9013 [release/3.1] Single file: Guard against partial cleanup of extracted files
  src/corehost/cli/apphost/bundle/bundle_runner.cpp
  src/corehost/cli/apphost/bundle/bundle_runner.h
  src/test/BundleTests/AppHost.Bundle.Tests/BundleExtractToSpecificPath.cs
Labels: Servicing-approved, area-Host

#8989 [release/2.1] Always build VS insertion packages as prerelease
  src/pkg/packaging/dir.proj
Labels: Servicing-approved

#9016 [release/2.1] Add libicu65 to DEB deps package
  src/pkg/packaging/deb/package.targets
Labels: Servicing-approved, area-Setup
